---
---

@import "{{ site.theme }}";

.description {
    font-size: large;
}

.question {
    margin-top: 3em;
    margin-bottom: 1em;
    text-align: center;
    font-size: xx-large;
}

.button {
    margin: auto;
    margin-bottom: 0.5em;
    background-color: #232323;
    color: white;
    padding: 1em;
    border-radius: 0.5em;
    text-align: center;
    text-decoration: none;
    font-size: large;
    display: block;
    cursor: pointer;
}

a {
    text-decoration: none;
    &:hover,
    &:focus {
        outline: none;
        text-decoration: none;

    }
}

.with-background {
    background-image: linear-gradient(0deg, rgba(25, 25, 25, 0.9), rgba(25, 25, 25, 0.9)),
        url("/radolfzell/assets/background.jpg");
    background-size: cover;
}
