---
---

@import "{{ site.theme }}";

.description {
    font-size: large;
}

.question {
    margin-top: 3em;
    margin-bottom: 1em;
    text-align: center;
    font-size: xx-large;
}

.button {
    padding: 1em;
    margin: auto;
    margin-bottom: .5em;
    width: 10em;
    float: center;
    background-color: #222;
    font-size: large;
    text-align: center;
    cursor: pointer;
}

.button a {
    text-decoration: none;
    color: white;
}